<div class="row d-flex align-content-center flex-wrap">
  <div class="col-md-6 col-sm-6 col-6">
    <a
      id="FilterButton"
      class="btn"
      (click)="onFilterArrowClick()"
      href="javascript:void(0)"
      role="button"
    >
      <span class="font-weight-bold mr-2 filter-text">Filtry</span>
      <svg
        id="FilterArrow"
        xmlns="http://www.w3.org/2000/svg"
        width="1em"
        height="1em"
        class="bi bi-chevron-down"
        viewBox="0 0 16 16"
      >
        <path
          stroke="black"
          stroke-width="1"
          fill-rule="evenodd"
          d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
        />
      </svg>
    </a>
  </div>
</div>
<div class="collapse" id="collapseFilter">
  <div class="row mt-3" [formGroup]="filterForm" *ngIf="filterForm">
    <div class="col-md-4 ml-md-5">
      <div class="form-outline mb-4">
        <div class="textarea-wrapper">
          <input
            pInputTextArea
            maxlength="65"
            type="text"
            class="form-control"
            id="title"
            placeholder="{{ searchKeyWordsLabel }}"
            formControlName="title"
          />
          <label for="title">
            {{ searchKeyWordsLabel }}
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-outline mb-4">
        <div class="textarea-wrapper">
          <select
            id="categoryId"
            class="form-select"
            formControlName="categoryId"
          >
            <ng-container *ngFor="let category of categories">
              <option [value]="category.id">
                {{ category.name }}
              </option>
            </ng-container>
          </select>
          <label for="categoryId"> {{ searchCategoryLabel }} </label>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-outline mb-4">
        <div class="textarea-wrapper">
          <label>
            <input type="radio" value="DateDesc" formControlName="sort" />
            <span>{{ orderByDateDescLabel }}</span>
          </label>
          <br />
          <label>
            <input type="radio" value="DateAsc" formControlName="sort" />
            <span>{{ orderByDateAscLabel }}</span>
          </label>
        </div>
      </div>
    </div>
    <div class="row" style="margin-left: 0.2em">
      <div class="pt-1 col-md-6">
        <button
          class="btn btn-sm btn-dark btn-lg btn-block"
          (click)="onFilterSubmit()"
        >
          {{ btnSearchLabel }}
        </button>
      </div>
      <div class="pt-1 col-md-6">
        <button
          class="btn btn-sm btn-dark btn-lg btn-block"
          (click)="onClearFilters()"
        >
          {{ btnCleanLabel }}
        </button>
      </div>
    </div>
  </div>
</div>
<hr />
