<section class="py-5">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-12">
        <div
          class="card shadow-card swing-in-top-fwd"
          style="border-radius: 1rem"
        >
          <div class="card-body p-4 p-lg-5 text-black">
            <div class="mainbox">
              <div class="err">4</div>
              <i class="fa fa-question-circle fa-spin"></i>
              <div class="err2">4</div>
              <div class="msg">
                Nie odnaleziono szukanego zasobu.
                <p>
                  Powróć do <a href="/home">strony głównej</a> i spróbuj
                  ponownie.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
