<div class="recipes-portal">
  <div class="justify-content-around mt-md-2 mt-1">
    <div class="m-md-4 m-1">
      <div class="row">
        <div class="align-items-center mb-3 pb-1">
          <span class="h2 fw-bold mb-0" style="color: #ff5e00"
            >{{ recipeLabel }}
            <hr
          /></span>
        </div>
      </div>
      <app-recipes-filter
        #recipesFilterDesktop
        (onFilterFormSubmit)="submitFilterFormDesktop()"
      ></app-recipes-filter>
      <div class="row mt-4 no-gutters">
        <div class="col-md-12">
          <div class="mt-2">
            <ng-container
              *ngIf="
                noRecipes == true || recipes == null || recipes.length == 0
              "
            >
              {{ notFoundLabel }}
            </ng-container>
            <ng-container *ngIf="!noRecipes">
              <div *ngFor="let recipe of recipes">
                <div class="mt-4">
                  <a
                    [routerLink]="'recipe/details/' + recipe.recipeId"
                    (click)="navigateToRecipe(recipe.recipeId)"
                    class="custom-card"
                  >
                    <div
                      class="card border-0 recipe-zoom-list js-recipe-observer theme-filter"
                      style="opacity: 0"
                    >
                      <div class="row no-gutters">
                        <div class="col-md-4">
                          <div class="recipe-container-text-image-list">
                            <img
                              class="card-img-list recipes-portal-avatar-list"
                              [src]="recipe.mainImageSrc"
                              alt="Główny obraz przepisu"
                            />
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="card-body recipe-text-body">
                            <h4
                              class="recipe-card-title"
                              style="margin-top: -8px; color: #ff5e00"
                            >
                              {{ recipe.title }}
                              <span style="color: orange">
                                <ngb-rating
                                  [rate]="recipe.rating + 0.4"
                                  [readonly]="true"
                                  [max]="5"
                                ></ngb-rating>
                              </span>
                            </h4>
                            <small>
                              <p>
                                Autor:
                                <span style="color: #ff5e00">
                                  {{ recipe.authorName }}
                                </span>
                                &nbsp; &nbsp; Utworzono:
                                <span style="color: #ff5e00">{{
                                  recipe.createdDate | date: "dd-MM-yyyy"
                                }}</span>
                                &nbsp; &nbsp; Kategoria:
                                <span style="color: #ff5e00">{{
                                  getCategoryName(recipe.categoryId)
                                }}</span>
                                &nbsp; &nbsp; Ocena:
                                <span style="color: #ff5e00">
                                  <ng-container *ngIf="recipe.rating">
                                    {{ recipe.rating | number: "1.2-2" }}
                                  </ng-container>
                                  <ng-container *ngIf="recipe.rating == null">
                                    Brak
                                  </ng-container>
                                </span>
                              </p>
                            </small>
                            <p
                              *ngIf="recipe.shortDescription != null"
                              class="card-text description-text recipe-card-description-list"
                            >
                              {{ recipe.shortDescription }}
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
